@import '../../node_modules/buefy/dist/buefy.css';
html,
body {
    direction: rtl;
}

html {
    overflow-x: hidden;
}
.mt01{
    margin-top: 0.1rem;
}
.mt02{
    margin-top: 0.2rem;
}
.mt03{
    margin-top: 0.53rem;
}
.mt04{
    margin-top: 0.4rem;
}
.mt05{
    margin-top: 0.5rem;
}
.mt06{
    margin-top: 0.6rem;
}
.mt07{
    margin-top: 0.7rem;
}
.mt08{
    margin-top: 0.8rem;
}
.mt09{
    margin-top: 0.9rem;
}
.mt1{
    margin-top: 1rem;
}
.mt1h{
    margin-top: 1.5rem;
}
.m-0 {
    margin: 0;
}

.m-half {
    margin: 0.5rem;
}

.m-1 {
    margin: 1rem;
}

.rtl-navbar {
    margin-right: auto;
    margin-left: 0;
}

.p-0 {
    padding: 0;
}

.mt-0-mb-half {
    margin: 0rem 0rem 0.5rem 0rem;
}


.mb01{
    margin-bottom: 0.1rem;
}
.mb02{
    margin-bottom: 0.2rem;
}
.mb03{
    margin-bottom: 0.53rem;
}
.mb04{
    margin-bottom: 0.4rem;
}
.mb05{
    margin-bottom: 0.5rem;
}
.mb06{
    margin-bottom: 0.6rem;
}
.mb07{
    margin-bottom: 0.7rem;
}
.mb08{
    margin-bottom: 0.8rem;
}
.mb09{
    margin-bottom: 0.9rem;
}
.mb1{
    margin-bottom: 1rem;
}
.mb1h{
    margin-bottom: 1.5rem;
}
